@use './_variables' as *
@use './_mixins' as *
@use './_fonts'

body
    margin: 0
    padding: 0
    background-image: url(../assets/img/banner.jpg)
    background-size: contain
ul 
    margin: 0
    padding: 0
    list-style: none 